
<html>

    <h1>add candidates</h1>
    
    <center>
    
    
    
        <form method="POST">
                {% csrf_token %}
         <table>
      <tr>
        <th>Name:</th>
        <th><input name="candidate_name" id="id_candidate_name" /></th>
      </tr>
      <tr>
        <th>Surname:</th>
        <th><input name="candidate_surname" id="id_candidate_name"/></th>
      </tr>
      <tr>
        <th>Birthdate:</th>
        <th><input type="date"  name="candidate_birthdate" id="id_candidate_name"/></th>
      </tr>
      <tr>
        <th>Phone number:</th>
        <th><input name="candidate_phone_number" id="id_candidate_name" /></th>
      </tr>
      <tr>
        <th>Sex:</th>
        <th><input name="candidate_sex" id="id_candidate_name" /></th>
      </tr>
      <tr>
        <th>E-mail:</th>
        <th><input name="candidate_email" id="id_candidate_name" /></th>
      </tr>
      <tr>
        <th>CV:</th>
        <th><input name="candidate_cv" id="id_candidate_name"/></th>
      </tr>
      <tr>
        <th>Motivation letter:</th>
        <th><input name="candidate_motivation_letter" id="id_candidate_name" /></th>
      </tr>
    </table> 
      <button>save</button>
     </form>     
    </center>
    
    </html>