{% extends 'base.html' %}
{% load static %}
 
{% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href=" {% static 'home/css/bootstrap.css' %}"
/>

<html>
  <title>Candidates recruitment system</title>
    <body style="background-color:ivory">
        <nav class="navbar fixed-top navbar-dark bg-primary navbar-expand-lg" style="height: 50px" >
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Logo</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/calendar/" class="nav-link">Calendary</a>
                        </li>
                        <li class="nav-item">
                            <a href="/candidates" class="nav-link" style="color: ivory;">Candidates</a>
                        </li>
                        <li class="nav-item" >
                          <a class="nav-link disabled" style="font-style: italic" >Add candidate</a>
                        </li>
                        <li class="nav-item">
                            <a href="/interviews" class="nav-link">Interviews</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>   
        <nav class="navbar fixed-bottom navbar-dark bg-primary " style="height: 50px" ></nav>
      
    
        <br><br><br><br>
            <form method="POST">
                    {% csrf_token %}

                    <div class="container">  
                      <div class="row justify-content-center">
                          <div class="col-md-4">
                              <label for="id_candidate_name" class="form-label">Name:</label>
                              <input name="candidate_name" id="id_candidate_name" class="form-control">
                          </div>  
                          <div class="col-md-4">
                            <label for="id_candidate_name" class="form-label">Surname:</label>
                            <input name="candidate_surname" id="id_candidate_name" class="form-control">
                          </div>
                          <div class="col-md-2">
                            <label for="id_candidate_name" class="form-label">Birthdate:</label>
                            <input type="date" name="candidate_birthdate" id="id_candidate_name" class="form-control" >
                        </div>
                        <div class="col-md-2">
                          <label for="id_candidate_name" class="form-label">Sex:</label>
                          <input name="candidate_sex" id="id_candidate_name" class="form-control" >
                        </div>
                      </div> 
                    <br>
                      <div class="row justify-content-center">
                        <div class="col-md-4">
                          <label for="id_candidate_name" class="form-label">Phone Number:</label>
                          <input name="candidate_phone_number" id="id_candidate_name" class="form-control"  >
                        </div>
                        <div class="col-md-4">
                            <label for="id_candidate_name" class="form-label">E-mail:</label>
                            <input name="candidate_email" id="id_candidate_name" class="form-control" >
                        </div>
                      </div>
                    <br>
                      <div class="row justify-content-center">
                        <div class="col-md-4">
                          <label for="id_candidate_name" class="form-label">CV:</label>
                          <input name="candidate_cv" id="id_candidate_name" class="form-control" >
                        </div>
                        <div class="col-md-4">
                          <label for="id_candidate_name" class="form-label">Motivation Letter:</label>
                          <input name="candidate_motivation_letter" id="id_candidate_name" class="form-control" >
                        </div>
                      </div>
                    <br><br>
                      <div class="d-grid gap-2 col-3 mx-auto">
                        <button class="btn btn-primary">Save</button>
                      </div>
                    </div> 
              </form>    
      </body>
</html>

    {% endblock content %}