
<html>

    <h1>Add processes for candidate: {{candidate.Name}} {{candidate.Surname}} </h1>    
    
    <form method="POST">
        {% csrf_token %}
        {% if roles %}
        role:
            {% for r in roles%}  
            <input type="checkbox" id="{{r.ID}}" name="{{r.ID}}" value="{{r.ID}}">
            <label for="{{r.ID}}"> {{r.Name}}</label><br>

            {% endfor %}
        {% endif %}
        {% if not roles %}
            candidate take part in all possible recruitment process
        {% endif %}
        <button>OK</button>
    </form>
</html>