{% extends 'base.html' %}
{% load static %}
 
{% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href=" {% static 'home/css/bootstrap.css' %}"
/>

<html>
    <title>Candidates recruitment system</title>
    <body style="background-color:ivory">
        <nav class="navbar fixed-top navbar-dark bg-primary navbar-expand-lg" style="height: 50px" >
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Logo</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/calendar/" class="nav-link">Calendary</a>
                        </li>
                        <li class="nav-item">
                            <a href="/candidates" class="nav-link" >Candidates</a>
                        </li>
                        <li class="nav-item">
                            <a href="/interviews" class="nav-link" style="color: ivory;">Interviews</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link disabled" style="font-style: italic; color: ivory;" >Set test score</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>   
        <nav class="navbar fixed-bottom navbar-dark bg-primary " style="height: 50px" ></nav>
   
    <form method="POST" id="addform">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="addform">
        
            {% for p in processes%}                                                          <!--odcoywanie się do tabel połaczonych nie wprost przez klucz obcy (taka składnia) c.ID_Workers_Role.Name-->
                <center>
                    <br><br>
                    <h1>{{p.ID_Candidates.Name}} {{p.ID_Candidates.Surname}}</h1>
                    <br>

                    <input type="number" min="0" max="10" step="1" name="grade">
                    
                        {% empty %}
                        All candidates have marks!
                        {% endfor %}
                    
                    <button class="btn btn-primary">Save</button>
    </form>
    <form method="POST" id="backform">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="backform">
        <br><br>
        <button class="btn btn-primary">Back</button>
    
    </form>
                </center>
    </body>
</html>
{% endblock content %}