<html>

<h1>Lista</h1>

<body>
    <center>

        <form method="POST" id="editform">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="editform">
                <table id="id_table">
                {% for c in candidates%}                                                          <!--odcoywanie się do tabel połaczonych nie wprost przez klucz obcy (taka składnia) c.ID_Workers_Role.Name-->
                <tr>
                    <td>{{c.Name}}</td> 
                    <td>{{c.Surname}}</td>
                    <td>{{c.Birthdate}}</td> 
                    <td>{{c.Sex}}</td>
                    <td><button name="candidate" value="{{c.ID}}" type="edit">edit</button>                    </td>
                        <!-- disable</td> -->
                </tr> 
                {% endfor %}

                </table>
                
        </form>
        <form method="POST" id="addform">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="addform">
            <input type="submit" name="add" value="add">
        </form>
        <form method="POST" id="processform">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="processform">
            <input type="submit" name="add_process" value="add process">
        </form>

   </center>
</body>



</html>