{% load static %}

<link
    rel="stylesheet"
    type="text/css"
    href=" {% static 'home/css/bootstrap.css' %}"
/>

<html>

<h1>Poprawione dane</h1>
MEETING_TYPE_TEST = 'T'
MEETING_TYPE_JOB_INTERVIEW = 'R'
<form method="POST">
    {% csrf_token %}
    <input name="meeting_desc" id="id_meeting_desc" placeholder="Opis" value="{{meeting.Description}}"/>
    <input name="date" id="id_date" placeholder="Data" value="{{meeting.Meeting_date|date:'d/m/Y H:i'}}"/>
    <input name="meeting_type" id="id_meeting_type" placeholder="Typ" value="{{meeting.Meeting_type}}"/>
    <button>Zatwierdź</button>

</form>

<button onclick="Return()">Powrót</button>
<center>
    Edited meeting
    <table id="id_table">
        <tr><td>Data: {{meeting.Meeting_date}}</td><td>Opis: {{meeting.Description}}</td><td>Typ: {{meeting.Meeting_type}}</td></tr>
    </table>
</center>

</html>

<script>
function Return()
    {
        location.replace("/calendar");
    }
    </script>