{% extends 'base.html' %}
{% load static %}
 
{% block content %}

<link
    rel="stylesheet"
    type="text/css"
    href=" {% static 'home/css/bootstrap.css' %}"
/>
<html>
    <title>Candidates recruitment system</title>
    <body style="background-color:ivory">
        <nav class="navbar fixed-top navbar-dark bg-primary navbar-expand-lg" style="height: 50px" >
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Logo</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/calendar/" class="nav-link">Calendary</a>
                        </li>
                        <li class="nav-item">
                            <a href="/candidates" class="nav-link">Candidates</a>
                        </li>
                        <li class="nav-item">
                            <a href="/interviews" class="nav-link">Interviews</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <nav class="navbar fixed-bottom navbar-dark bg-primary " style="height: 50px" ></nav>
    </body>
</html>

<div class= "row">
    <div class="col-sm">
        <table id="table_db" class="table table-bordered table-hover" style="width: 100%">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Birthdate</th>
                    <th scope="col">Sex</th>
                    <th scope="col">Application date</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Motivational letter</th>
                    <th scope="col">CV</th>
                </tr>
            </thead>
            <tbody >
                {% for c in candidates %}
                        <tr onclick="select({{c.ID}})"> 
                        <td>{{c.Name}}</td>
                        <td>{{c.Surname}}</td> 
                        <td>{{c.Birthdate}}</td>
                        <td>{{c.Sex}}</td>
                        <td>{{c.Application_date}}</td>
                        <td>{{c.Phone_number}}</td>
                        <td>{{c.Email_address}}</td>
                        <td>{{c.Motivation_letter}}</td>
                        <td>{{c.CV}}</td></tr>
                {% endfor %}
            </tbody> 
        </table>
    </div>
</div>

<p hidden id="curr"></p>

{% if worker.ID_Workers_Role.Name == "Assistant" %}
<button id="bAdd" onclick="Add()">Add candidate</button>
<button id="bEdit" onclick="edit()">Edit</button>
<button id="bDelete" onclick="Delete()">Delete</button>
<br></br>
<button id="bAddProcess" onclick="AddProcess()">Add process</button>
{% endif %}

{% endblock content %}
 
{% block js %}
 
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

<script>
    function select(pk) {
        if (document.getElementById('curr').innerHTML == pk)
            pk = 0;
       document.getElementById('curr').innerHTML = pk;
    }
</script>

<script>
    function Add()
    {
        window.location.href = "addcandidate/";
    }
</script>

<script>
    function AddProcess()
    {
        curr = document.getElementById('curr').innerHTML;
        if (curr == 0)
            return;
        window.location.href = "addprocess/"+ document.getElementById('curr').innerHTML;
    }
</script>

<script>
    function edit()
    {
        curr = document.getElementById('curr').innerHTML;
        if (curr == 0)
            return;
        window.location.href = "editcandidate/" + document.getElementById('curr').innerHTML;
    }
</script>

<script>
    function Delete()
    {
        curr = document.getElementById('curr').innerHTML;
        if (curr == 0)
            return;
        if (confirm("Delete candidate?"))
            window.location.href = "delete/" + document.getElementById('curr').innerHTML;
    }
</script>
 
<script>
    $(document).ready(function () {
    var t = $('#table_db').DataTable( {
        "paging": true,
        "searching": true,
        "autoWidth": false,
        "ordering": true,
        "columnDefs": [
            {"width": "200px", "targets": 0},
            {"width": "200px", "targets": 1},
            {"width": "100px", "targets": 2},
            {"width": "30px" , "targets": 3},
            {"width": "150px", "targets": 4},
            {"width": "150px", "targets": 5},
            {"width": "200px", "targets": 6},
            {"width": "300px", "targets": 7},
            {"width": "300px", "targets": 8},
        ],
        "order": [[0, "desc"]]
    });

    $('#table_db tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            t.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });

    $('#bDelete').click( function () {
        t.row('.selected').remove().draw( false );
    });
});
</script>
 
{% endblock js %}