<html>
    <title>Najlepszy program na świecie!</title>
    <body>
        <center>
            Hello wor(l)d
        </center>
       
        <form method="POST">
            <input name="candidate_name" id="id_candidate_name" placeholder="Enter a candidate name"/>
            {% csrf_token %}
            <input name="candidate_surname" id="id_candidate_surname" placeholder="Enter a candidate surname"/>  
            <button>Send</button> 
            <!-- button jest konieczy żeby wysłać cały formularz razem w jednej cześci  -->
        </form>
            <center>
            <table id="id_table">
                {% for c in candidates%}
                <tr><td>{{c.Name}}</td> <td>{{c.Surname}}</td> <td>{{c.Application_date}}</td> <td> {{c.Birthdate}}</td></tr> 
                {% endfor %}
            </table>
        </center>
    </body>
</html>