<html>
    <title>Najlepszy program na świecie!</title>
    <body>
        <center>
            Hello wor(l)d
        </center>
       
        <form method="POST">
            <input name="worker_name" id="id_worker_name" placeholder="Enter a worker name"/>
            {% csrf_token %}
            <input name="worker_surname" id="id_worker_surname" placeholder="Enter a worker surname"/>  
            <input name="worker_year_of_birth" id="id_worker_year_of_birth" placeholder="Enter a worker year of birth"/>
            <input name="worker_month_of_birth" id="id_worker_month_of_birth" placeholder="Enter a worker month of birth"/>
            <input name="worker_day_of_birth" id="id_worker_day_of_birth" placeholder="Enter a worker day of birth"/>
            <input name="worker_role" id="id_worker_role" placeholder="Enter a worker role"/>

            <button>Send</button> 
            <!-- button jest konieczy żeby wysłać cały formularz razem w jednej cześci  -->
        </form>
            <center>
            <table id="id_table">
                {% for w in workers%}                                                          <!--odwoywanie się do tabel połaczonych nie wprost przez klucz obcy (taka składnia) c.ID_Workers_Role.Name-->
                <tr><td>{{w.Name}}</td> <td>{{w.Surname}}</td> <td> {{w.Birthdate}}</td> <td> {{w.ID_Workers_Role.Name}}</td></tr> 
                {% endfor %}
            </table>
        </center>
    </body>
</html>