<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="/static/home/css/styles.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">    
            </ul>
        </nav>
            <br><br><br><br>
                <div class="container">  
                    <form class="row justify-content-center">
                        <div class="col-md-4">
                            <label for="inputName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="inputName">
                        </div>
                        <div class="col-md-4">
                            <label for="inputSurname" class="form-label">Surname</label>
                            <input type="text" class="form-control" id="inputSurname">
                        </div>
                        <div class="col-md-4">
                            <label for="inputAddressEmail" class="form-label">Address E-mail</label>
                            <input type="text" class="form-control" id="inputAddressEmail">
                        </div>
                    </form> 
                    <br>
                    <form class="row justify-content-center">
                        
                        <div class="col-md-4">
                            <label for="inputPhoneNumber" class="form-label">Phone Number</label>
                            <input type="text" class="form-control" id="inputPhoneNumber" >
                        </div>
                        <div class="col-md-4">
                            <label for="inputCV" class="form-label">CV</label>
                            <input type="text" class="form-control" id="inputCV">
                        </div>
                        <div class="col-md-4">
                            <label for="inputML" class="form-label">Motivation Letter</label>
                            <input type="text" class="form-control" id="inputML">
                        </div>
                    </form>
                    <br>
                    <form class="row justify-content-center">
                        <div class="col">
                            <label for="inputSex" class="form-label">Sex</label>
                            <br>
                            <select id="inputSex" class="form-select">
                            <option selected>Choose...</option>
                            <option>W</option>
                            <option>M</option>
                            </select>
                        </div>
                        <div class="col" >
                            <label for="inputBirthDate" class="form-label">Birth Date</label> 
                            <input type="text" id="picker" class="form-control">
                        </div>
                        
                    </form>
                    <br>
                    <form class="container">
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>            
                    </form>


                        <br><br><br><br>
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table mr-1"></i>
                                    Candidates
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    
                                                </tr>
                                            </thead>                                      
                                        </table>
                                    </div>
                                </div>
                            </div>



        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/datatables-demo.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>

            $( function() {
                $('#picker').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    showButtonPanel: true,
                    dateFormat: "yy-mm-dd"
                });
            });
        </script>

    </body>
</html>
