
{% extends 'base.html' %}
{% load static %}
 
{% block content %}

<h1>Summary</h1>




<center>
    <h1>{{candidate.Name}} {{candidate.Surname}} Interview Role: {{role.Name}} </h1>    
    <table>
        <tr>
            <th>Hard skills: </th>
            <th>{{interview_data.Hard_skills}}</th>
        </tr>
        <tr>
            <th>Soft skills</th>
            <th>{{interview_data.Soft_skills}}</th>
        </tr>
        <tr>
            <th>notes</th>
            <th>{{interview_data.Notes}}</th>
        </tr>
        <tr>
            <th>grade</th>
            <th>{{interview_data.Grade}}</th>
        </tr>
        
    </table>      
      
</center>
<form method="POST" id="backform">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="backform">
    <button>back</button>
</form>
{% endblock content %}
