{% extends 'base.html' %}
{% load static %}
 
{% block content %}

<link
    rel="stylesheet"
    type="text/css"
    href=" {% static 'home/css/bootstrap.css' %}"
/>
<html>
    <title>Candidates recruitment system</title>
    <body style="background-color:ivory">
        <nav class="navbar fixed-top navbar-dark bg-primary navbar-expand-lg" style="height: 50px" >
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Logo</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/calendar/" class="nav-link">Calendary</a>
                        </li>
                        <li class="nav-item">
                            <a href="/candidates" class="nav-link">Candidates</a>
                        </li>
                        <li class="nav-item">
                            <a href="/interviews" class="nav-link" style="color: ivory;">Interviews</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <nav class="navbar fixed-bottom navbar-dark bg-primary " style="height: 50px" ></nav>
    </body>
</html>

<div class= "row">
    <div class="col-sm">
        <table id="table_db" class="table table-bordered table-hover" style="width: 50%">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Role</th>
                    <th scope="col">Interview grade</th>
                    <th scope="col">Test points</th>
                </tr>
            </thead>
            <tbody >
                {% for p in processes %}
                        <tr onclick="select({{p.ID}})"> 
                        <td>{{p.ID_Candidates.Name}}</td>
                        <td>{{p.ID_Candidates.Surname}}</td> 
                        <td>{{p.ID_Candidates_Role.Name}}</td>
                        <td style='text-align: center'>
                        {%for i in interviews%}
                            {% if i.ID_Recruitment_Process == p %}
                                {{i.Grade}}
                            {%endif%}
                        {%endfor%}
                        </td>
                        <td style='text-align: center'>
                        {%for t in tests%}
                            {% if t.ID_Recruitment_Process == p %}
                                {{t.Points}}
                            {%endif%}
                        {%endfor%}
                        </td>
                {% endfor %}
            </tbody> 
        </table>
    </div>
</div>

<p hidden id="curr"></p>
{% if worker.ID_Workers_Role.Name == "Recruiter" %}
<button class="btn btn-primary" id="bInterview" onclick="Interview()">Start interview</button>
<button class="btn btn-primary" id="bShowInterview" onclick="ShowInterview()">Show interview data</button>
<br></br>
<button class="btn btn-primary" id="bAddMark" onclick="AddMark()">Set test score</button>
{% endif %}
{% endblock content %}
 
{% block js %}
 
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

<script>
    function select(pk) {
        if (document.getElementById('curr').innerHTML == pk)
            pk = 0;

        document.getElementById('curr').innerHTML = pk;
    }
</script>

<script>
    function AddMark()
    {
        curr = document.getElementById('curr').innerHTML;
        if (curr == 0)
            return;
        window.location.href = "/recruiter/addtests/" + document.getElementById('curr').innerHTML;
    }
</script>

<script>
    function Interview()
    {
        curr = document.getElementById('curr').innerHTML;
        if (curr == 0)
            return;
        window.location.href = "/interview/" + document.getElementById('curr').innerHTML;
    }
</script>

<script>
    function ShowInterview()
    {
        curr = document.getElementById('curr').innerHTML;
        if (curr == 0)
            return;
        window.location.href = "/interview/interview_summary/" + curr;
    }
</script>

<script>
    $(document).ready(function () {
    var t = $('#table_db').DataTable( {
        "paging": true,
        "searching": true,
        "autoWidth": true,
        "ordering": true,
        "columnDefs": [
            {"width": "200px", "targets": 0},
            {"width": "200px", "targets": 1},
            {"width": "140px", "targets": 2},
            {"width": "120px" , "targets": 3},
        ],
        "order": [[0, "desc"]]
    });

    $('#table_db tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            t.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });

    $('#bDelete').click( function () {
        t.row('.selected').remove().draw( false );
    });
});
</script>
 
{% endblock js %}